{% extends "base.html" %}
{% block title %}{{ _('Archives') }}&nbsp;-&nbsp;{% endblock %}

{% block content %}
<div class="container">
<article>
  <header>
    <h1>{{ _('Archives') }}</h1>
  </header>
  <div>
    <dl>
      {% set previous = {'date': False} %}
      {% for article in dates %}
        {% if article.locale_date != previous.date %}
          {% if previous.update({'date': article.locale_date}) %}{% endif %}
      <dt>{{ article.locale_date }}</dt>
        {% endif %}
      <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
      {% endfor %}
    </dl>
  </div>
</article>
</div>
{% endblock %}
