{% extends "base.html" %}
{% block title %} &ndash; {{ _('Tags') }}{% endblock %}

{% block content %}
<div class="container">
<article>
  <header>
    <h1>{{ _('Tags') }}</h1>
    {% if TAG_CLOUD_ENABLED %}
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/stylesheet/tagcloud.min.css">
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.svg3dtagcloud.min.js" type="text/javascript"></script>
    <style type="text/css">
        #tag-cloud {
            margin: 0 auto;
            text-align: center;
        }
    </style>
{% endif %}
  </header>
  <div>
    {% if TAG_CLOUD_ENABLED %}
    <div id='tag-cloud'></div>
    <script>
        $( document ).ready( function() {
            var entries = [
            {% for tag in tag_cloud %}
                { label: '{{ tag.0 }} ({{ tag.2 }})', url: '{{ SITEURL }}/{{ tag.0.url }}', target: '_top' },
            {% endfor %}
            ];

            var cw = $('#tag-cloud').width();
            if (cw > 400) {cw = 400}
            var settings = {
                entries: entries,
                width: cw,
                height: cw,
                radius: '65%',
                radiusMin: 75,
                bgDraw: false,
                bgColor: '#494A5F',
                opacityOver: 1.00,
                opacityOut: 0.05,
                opacitySpeed: 6,
                fov: 800,
                speed: 0.4,
                fontFamily: 'Oswald, Arial, sans-serif',
                fontSize: '15',
                fontColor: '#000',
                fontWeight: 'bold',//bold
                fontStyle: 'normal',//italic
                fontStretch: 'normal',//wider, narrower, ultra-condensed, extra-condensed, condensed, semi-condensed, semi-expanded, expanded, extra-expanded, ultra-expanded
                fontToUpperCase: false
            };

            //var svg3DTagCloud = new SVG3DTagCloud( document.getElementById( 'holder'  ), settings );
            $( '#tag-cloud' ).svg3DTagCloud( settings );
        } );
    </script>
    <ul class="tagcloud">
      {%- for tag in tag_cloud %}
            <li class="tag-{{ tag.1 }}">
                <a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a>
                {% if TAG_CLOUD_BADGE %}
                    <span class="badge">({{ tag.2 }})</span>
                {% endif %}
            </li>
      {% endfor %}
    </ul>
    {% else %}
    <ul class="list">
      {%- for tag, articles in tags|sort %}
          <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</article>
</div>
{% endblock %}
