<div class="rst-content">
    <div class="admonition warning">
        <p class="first admonition-title">Warning</p>
        <p class="last">
            <p style="font-size:14px; margin:2px 0;">本文出自&nbsp;<a target="_blank" href="{{ SITEURL_DISP }}" title="">“{{ SITENAME }}”&nbsp;</a>博客
            {% if CC_LICENSE %}
            ，作者 <a target="_blank" href="{{ SITEURL_DISP }}">{{ AUTHOR }}</a>&nbsp;采用 <a target="_blank" href="https://creativecommons.org/licenses/{{ CC_LICENSE['slug'] }}/{{ CC_LICENSE['version'] }}/deed.zh">署名-非商业性使用-相同方式共享</a> 协议。
            {% endif %}
            </p>
            <p style="font-size:14px; margin:2px 0;">转载时请务必以超链接形式标明文章 <a target="_blank" href="{{ SITEURL_DISP }}{{ article.url }}">原始出处</a> 、作者信息和本声明。否则将追究法律责任。<a target="_blank" href="{{ SITEURL_DISP }}{{ article.url }}">{{ SITEURL_DISP }}{{ article.url }}</a></p>
        </p>
    </div>
</div>
