{% if PAGE_VIEW_ENABLED %}
<script src="//cdn1.lncld.net/static/js/2.1.0/av-min.js"></script>
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>
    // 初始化
    AV.init({
        appId: '{{ PAGE_VIEW_APP_ID }}',    // 应用 ID，用来识别应用
        appKey: '{{ PAGE_VIEW_KEY }}'       // 应用 Key，用来校验权限（Web 端可以配置安全域名来保护数据安全）
    });
</script>
<script>
function showTime(Counter) {
    $(".leancloud_visitors").each(function() {
        var query = new AV.Query(Counter);
        var url = $(this).attr("id").trim();
        query.equalTo("url", url);
        query.find().then(
            function(results) {
                if (results.length == 0) {
                    var content = '0';
                    $(document.getElementById(url)).text(content);
                    return;
                }
                for (var i = 0; i < results.length; i++) {
                    var object = results[i];
                    var update_id = object.get('url');
                    var content = object.get('time');
                    $(document.getElementById(update_id)).text(content);
                }
            },
            function(error) {
                console.log("Error: " + error.code + " " + error.message);
            }
        );

    });
}

function addCount(Counter) {
    var Counter = AV.Object.extend("{{ PAGE_VIEW_COUNTER_NAME }}");
    url = $(".leancloud_visitors").attr('id').trim();
    title = $(".leancloud_visitors").attr('data-flag-title').trim();
    var query = new AV.Query(Counter);
    query.equalTo("url", url);
    query.find().then(
        function(results) {
            if (results.length > 0) {
                var counter = results[0];
                counter.increment("time");
                counter.save(null, {
                    fetchWhenSave: true
                }).then(
                    function(counter) {
                        var content = counter.get('time');
                        $(document.getElementById(url)).text(content);
                    },
                    function(error) {
                        console.log('Failed to save Visitor num, with error message: ' + error.message);
                    }
                );
            } else {
                var newcounter = new Counter();
                newcounter.set("title", title);
                newcounter.set("url", url);
                newcounter.set("time", 1);
                newcounter.save().then(
                    function(newcounter) {
                        console.log("newcounter.get('time')="+newcounter.get('time'));
                        var content = newcounter.get('time');
                        $(document.getElementById(url)).text(content);
                    },
                    function(error) {
                        console.log('Failed to create: ' + error.message);
                    }
                );
            }
        },
        function(error) {
            console.log('Error:' + error.code + " " + error.message);
        }
    );
}
$(function() {
    var Counter = AV.Object.extend("{{ PAGE_VIEW_COUNTER_NAME }}");
    if ($('.leancloud_visitors').length == 1) {
        addCount(Counter);
    } else if ($('.post-title-link').length > 1) {
        showTime(Counter);
    }
});
</script>
{% endif %}
