{% if DEFAULT_PAGINATION %}
{% if articles_page and articles_paginator.num_pages > 1 %}
<div class="pagination">
<ul>
    {% if articles_page.has_previous() %}
        {% set num = articles_page.previous_page_number() %}
        <li class="prev"><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr;</a></li>
    {% else %}
        <li class="prev disabled"><a href="#">&larr;</a></li>
    {% endif %}
    {% set pagination_flag = {'prev_omit': False, 'next_omit': False} %}
    {%- set n = articles_page.number -%}
    {%- if articles_page.number == 1 -%}{% set n = n + 1 %}
    {%- elif articles_page.number == articles_paginator.num_pages -%}{% set n = n - 1 %}
    {%- endif -%}
    {% for num in articles_paginator.page_range %}
        {%- if num == 1 -%}
        <li class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}.html">{{ num }}</a></li>
        {%- elif num == articles_paginator.num_pages -%}
        <li class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}/{{ num if num > 1 else '' }}/">{{ num }}</a></li>
        {%- elif n - 2 < num < n + 2 -%}
            <li class="{{ 'active' if num == articles_page.number else '' }}"><a href="{{ SITEURL }}/{{ page_name }}/{{ num if num > 1 else '' }}/">{{ num }}</a></li>
        {%- elif num <= n - 2 -%}
            {%- if not pagination_flag.prev_omit -%}
            <li class="disabled"><a>...</a></li>
            {%- if pagination_flag.update({'prev_omit': True}) -%}{%- endif -%}
            {%- endif -%}
        {%- elif num >= n + 2 -%}
            {%- if not pagination_flag.next_omit -%}
            <li class="disabled"><a>...</a></li>
            {%- if pagination_flag.update({'next_omit': True}) -%}{%- endif -%}
            {%- endif -%}
        {%- endif -%}
    {% endfor %}
    {% if articles_page.has_next() %}
        <li class="next"><a href="{{ SITEURL }}/{{ articles_next_page.url }}">&rarr;</a></li>
    {% else %}
        <li class="next disabled"><a href="#">&rarr;</a></li>
    {% endif %}
</ul>
</div>
{% endif %}
{% endif %}
